*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #283136;
  border: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

ul {
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 49px;
  padding-bottom: 10px;
  background-color: #eeeeee;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: #fb565a;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #ffffff50;
}

.nav__logo {
  transition: opacity 0.3s;
}

.nav__logo:hover {
  opacity: 0.7;
}
.nav__logo:focus {
  opacity: 0.7;
}
.nav__logo:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-right: 42px;
}

.nav__item {
  margin: 0 24px;
  list-style-type: none;
}

.nav__link {
  padding: 10px 0;
  font-weight: 500;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #fb565a;
}

.nav__link:focus {
  color: #fb565a;
}
.nav__link:active {
  color: #afafaf;
}
.nav__link.is-active {
  border-bottom: 2px solid #fb565a;
}

.nav__link-cart {
  display: flex;
  align-items: center;
}

.nav__link-icon {
  margin-right: 26px;
}

.hero {
  background-color: #eeeeee;
}
.hero__slider {
  display: flex;
}

.hero__interest {
  margin-top: 66px;
}

.hero__slogan {
  margin: 0;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: #000;
}

.hero__text {
  margin-top: 29px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #283136;
  opacity: 0.8;
}

.hero__button {
  padding-right: 54px;
  padding-left: 54px;
}

.hero__slider-img {
  width: 100%;
}

.futures__list {
  display: flex;
  justify-content: flex-start;
  padding: 80px 0;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.futures__item {
  margin-right: 100px;
}

.futures__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.futures__text {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
}

.futures__button {
  padding: 18px 40px;
}

.futures__button--green {
  background-color: #00ca74;
}

.futures__button--green:hover {
  background-color: #00bc6c;
}

.futures__button--green:focus {
  background-color: #00bc6c;
}

.futures__button--green:active {
  background-color: #00aa62;
}

.futures__button--yellow {
  background-color: #efc84a;
}

.futures__button--yellow:hover {
  background-color: #eab534;
}

.futures__button--yellow:focus {
  background-color: #eab534;
}

.futures__button--yellow:active {
  background-color: #e5a722;
}

.studio__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.studio__about-title {
  margin-top: 40px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

.studio__about-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #283136;
  margin-bottom: 34px;
}

.studio__subtitle {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}

.studio__subtitle--about {
  margin-bottom: 30px;
}

.studio__about-item {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
}

.studio__about-item::before {
  display: inline-block;
  margin-right: 10px;
  content: "";
  border-bottom: 2px solid #fb565a;
  width: 25px;
  transform: translateY(-5px);
}

.studio__history-image {
  display: block;
  margin-bottom: 40px;
}

.studio__history-item {
  display: inline-block;
}

.studio__history-number {
  font-size: 45px;
  line-height: 0;
  font-weight: bold;
  color: #000;
}

.studio__history-percent {
  font-size: 28px;
  position: relative;
  left: -13px;
  top: -15px;
}

.studio__history-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.studio__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 80px 0 50px 0;
}

.contacts__adress {
  position: relative;
}

.contacts__map {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.contacts__container {
  position: absolute;
  top: 13%;
  left: 372px;
  padding: 33px 50px 47px 50px;
  background-color: #fff;
}

.contacts__title {
  margin-bottom: 32px;
  font-size: 18px;
  text-transform: uppercase;
}

.contacts__text {
  color: #666666;
}

.contacts__button {
  margin-top: 15px;
  outline: none;
  cursor: pointer;
}

.social__inner {
  display: flex;
  padding-top: 53px;
}

.social__list {
  flex-grow: 2;
}

.social__item {
  display: inline;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social__link:hover {
  background-color: #e74246;
}

.social__link:focus {
  background-color: #e74246;
  outline: none;
}

.social__link:active {
  background-color: #d7373b;
  color: #ffffff50;
}

.social__link:active > img {
  opacity: 0.5;
}

.social__discount {
  font-weight: 500;
  color: #444;
}

.social__discount-slogan {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 700;
  color: #000;
}

.social__discount {
  flex-grow: 3;
}

.modal-send {
  position: fixed;
  bottom: 180px;
  left: 50%;
  z-index: 10;
  margin-left: -485px;
  display: none;
  padding: 55px 100px;
  background-color: #fff;
  box-shadow: 0px 30px 30px 0px #444;
}

.modal-overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}

.modal-send__title {
  font-size: 45px;
  line-height: 0;
  color: #000;
  margin-bottom: 65px;
}

.modal-send__inner {
  display: flex;
}

.modal-send__labels {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.modal-send__labels--margin-right {
  margin-right: 40px;
}

.modal-send__input {
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 15px;
  font-size: 16px;
  color: #444;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s;
}

.modal-send__input:hover {
  border-color: #b4b9bb;
}

.modal-send__input:focus {
  border-color: #000;
}

.modal-send__input:invalid {
  border-color: #e74246;
}

.modal-send__input::placeholder {
  color: #b1b1b1;
}

.modal-send__input--form-name {
  min-width: 360px;
}

.modal-send__input--textarea {
  display: block;
  margin-bottom: 50px;
  min-width: 760px;
  height: 120px;
  resize: none;
  font-size: 18px;
}

.modal-send__close {
  position: absolute;
  top: 13%;
  right: 10%;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal-send__close::before,
.modal-send__close::after {
  content: " ";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #fecccd;
  transition: background-color 0.3s;
}

.modal-send__close::before {
  transform: rotate(45deg);
}

.modal-send__close::after {
  transform: rotate(-45deg);
}

.modal-send__close:hover:before,
.modal-send__close:hover:after {
  background-color: #e74246;
}

.modal-send__close:focus:before,
.modal-send__close:focus:after {
  background-color: #e74246;
}

.modal-send__close:active:before,
.modal-send__close:active:after {
  background-color: #ffeeee;
}
