body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #283136;
  border: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #eeeeee;
  padding-top: 49px;
  padding-bottom: 10px;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  padding: 16px 40px;
  text-decoration: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  transition: all 1s;

}
.button__link {
  color: #ffffff;
}

.button__link:active {
  color: #ffffff;
  opacity: 0.3;
  transition: all 0.3s;
}

.nav__logo {
  transition: all 0.3s;
}

.nav__logo:hover {
  opacity: 0.7;
}
.nav__logo:focus {
  opacity: 0.7;
}
.nav__logo:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-right: 42px;
}

.nav__item {
  list-style-type: none;
  margin: 0 24px;
}

.nav__link {
  font-weight: 500;
  padding: 10px 0;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #fb565a;
}

.nav__link:focus {
  color: #fb565a;
}
.nav__link:active {
  color: #afafaf;
}
.nav__link.is-active {
  border-bottom: 2px solid #fb565a;
}

.nav__link-cart {
  display: flex;
  align-items: center;
}

.nav__link-icon {
  margin-right: 26px;
}

.hero {
  background-color: #eeeeee;
}
.hero__slider {
  display: flex;
  }

.hero__interest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 66px;
}

.hero__interest-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin:0;
}

.hero__interest-text {
  margin-top: 29px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #283136;
  opacity: 0.8;
}

.hero__interest-button {
  background-color: #fb565a ;
  border: 0;
  padding-right: 54px;
  padding-left: 54px;
  margin-top: 22px;
}

.hero__interest-button:hover {
  background-color: #e74246;
}

.hero__interest-button:focus {
  background-color: #e74246;
}

.hero__interest-button:active {
  background-color: #d7373b;
  color: #e37376;
}


.hero__slider-img {
  width: 100%;
}
