*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #283136;
  border: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 49px;
  padding-bottom: 10px;
  background-color: #eeeeee;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  text-decoration: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 3px;
  background-color: #fb565a;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #ffffff50;
}

.nav__logo {
  transition: opacity 0.3s;
}

.nav__logo:hover {
  opacity: 0.7;
}
.nav__logo:focus {
  opacity: 0.7;
}
.nav__logo:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-right: 42px;
}

.nav__item {
  margin: 0 24px;
  list-style-type: none;
}

.nav__link {
  padding: 10px 0;
  font-weight: 500;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #fb565a;
}

.nav__link:focus {
  color: #fb565a;
}
.nav__link:active {
  color: #afafaf;
}
.nav__link.is-active {
  border-bottom: 2px solid #fb565a;
}

.nav__link-cart {
  display: flex;
  align-items: center;
}

.nav__link-icon {
  margin-right: 26px;
}

.hero {
  background-color: #eeeeee;
}
.hero__slider {
  display: flex;
}

.hero__interest {
  margin-top: 66px;
}

.hero__slogan {
  margin: 0;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
}

.hero__text {
  margin-top: 29px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #283136;
  opacity: 0.8;
}

.hero__button {
  padding-right: 54px;
  padding-left: 54px;
  border: 0;
}

.hero__slider-img {
  width: 100%;
}

.futures__list {
  display: flex;
  justify-content: flex-start;
  padding: 80px 0;
  margin: 0;
  list-style-type: none;
}

.futures__item {
  margin-right: 100px;
}

.futures__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.futures__text {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
}

.futures__button {
  padding: 18px 40px;
}

.futures__button--green {
  background-color: #00ca74;
}

.futures__button--green:hover {
  background-color: #00bc6c;
}

.futures__button--green:focus {
  background-color: #00bc6c;
}

.futures__button--green:active {
  background-color: #00aa62;
}

.futures__button--yellow {
  background-color: #efc84a;
}

.futures__button--yellow:hover {
  background-color: #eab534;
}

.futures__button--yellow:focus {
  background-color: #eab534;
}

.futures__button--yellow:active {
  background-color: #e5a722;
}
